<!DOCTYPE html>
<html>
<head>
	<title>Lego Admin Tool</title>
</head>
<body>
<form action="/" method="post">
<input type="text" name="username" id="username">
<input type="password" name="password" id="password">
<button type="submit" value="submit">Login</button>
</form>
</body>
</html>